 * {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

header {
	background-color: purple;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
}

header nav a{
	text-decoration: none;
	color: rgb(184, 184, 184);
	font-size: 1.8em;
	padding-left: 10px;
	padding-right: 10px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(184, 184, 184);
	color:white;
	font-size: 1.2em;
	padding-top: 80px;
}

main img#minha-foto {
	border-radius: 30px;
	margin: 2%;
}

.cima {
	color: rgb(15, 199, 15);
	font-size: 1.4em;
}

#section1 {
	display: flex;
	padding: 2%;
}

div#infos-gerais {
	display: flex;
  display:inherit;
}

li {
  list-style-type: none;
}

#informations {

}

#meus-projetos-trybe {
	display: flex;
	background: url(imagens/roxo-e-preto.gif);
	padding: 4%;
	margin-top: 3%;
	margin-bottom: 3%;
	border-style: groove;
	border:2px solid rgb(15, 199, 15);
}

.projects {
	padding: 0.5%;
}

button {
	background-color: rgb(15, 199, 15);
	margin-bottom: 7%;
	padding-left: 6%;
	padding-right: 6%;
	padding: 2%;
	border-style: ridge;
	border-radius: 8px;
}

.cimaBotao {
	font-size: 1.4em;
}