 * {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

header {
	background-color: purple;
	width: 100%;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
}

header nav a{
	text-decoration: none;
	color: rgb(184, 184, 184);
	font-size: 1.8em;
	padding-left: 10px;
	padding-right: 10px;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(184, 184, 184);
	color:white;
	font-size: 1.2em;
	padding-top: 80px;
}

main img#minha-foto {
	border-radius: 30px;
}

.cima {
	color: rgb(19, 18, 18);
	font-size: 1.4em;
}

section {

}

div#infos-gerais {
	display: flex;
}

#informations {
	border: 1px solid rgb(29, 21, 21);
}
